
.App-header {
  background: #282c34;
  min-height: 22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  transition: background .2s ease,box-shadow .2s ease;
  box-shadow: 0 1px 0 #f7f7f7;
}


.relative-Main{
  position: relative;
  top:25vh;
}